/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .index-content{
    width: 80%;
  }

  .from-web-content .content-links-container .content-links .content-links-title a {
    font-size: 16px;
  }

  .from-web-content .content-links-container .content-links .content-links-description{
    font-size: 14px;;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {


  .navbar{
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 2%;

    .navbar-1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .navbar-2{
      display: none;
    }

    .navbar-3 {
      grid-column: 2/3;
      grid-row: 1/3;
      text-align: center;
      position: unset;
      align-items: center;
      display: grid;
  }

  .navbar-4 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1% auto;
    width: 70%;
  }
  }

  .menu-contents {
    width: 50%;
  }

  .content{
    display: block;
  }

  .left-promote {
    width: 80%;
    margin: 2% auto;
  }

  .advertise-1{
    display: none;
  }

  .university-name > div {
    width: 100%;
    text-align: center;
}
  
.faculty-details {
  width: 80%;
}

.faculty-rightbar {
  display: none;
}

.search-results {
  width: 80%;
  margin: auto;
}

  .from-web-content {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
  }
  .from-web-content .content-sources {
    grid-row: none;
    grid-column: 1/2;
    display: none;
  }

  .from-web-content .content-sources > div > div {
    display: flex;
    margin: 1% auto;
}

.footer .footer-links div {
  width: 50%
  
}
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


  .index-logo{
    font-size: 26px;
  }
  .index-menu{
    font-size: 26px;
  }
  .menu-contents {
    width: 35%;
    top: 10%;
  }

  .index-content {
    width: 90%;
  }

  .index-content h2 {
    font-size: 22px;
  }

  .index-content h4 {
    font-size: 16px;}

  .index-search {
    width: 100%;}

  .index-bookmarks {
    margin: 5% auto;
    font-size: 12px;
    >div{
      width: 50%;
    }
  }
  

  .banner div.banner-img {
    display: none;}

    .banner div.banner-txt {
      width: 100%;
      text-align: center;
      h1{
        font-size: 26px;
      }
      h3{
        font-size: 16px;
      }
      
    }

  .from-web {
    width: 90%;
  }
  .from-web-content .content-links-container .content-links {
    display: block;
  }

  .from-web-content .content-sources {
    display: none;
}

  .footer .footer-links div {
    width: 75%;
    margin: auto;
}

.faculty > div {
  width: 80%;
  margin: auto;
  text-align: center;
}

  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

  